* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 18%,
    rgba(9, 9, 121, 1) 59%,
    rgba(0, 212, 255, 1) 91%
  );
  font-family: sans-serif;
  height: 300vh;
  width: 100vw;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: rgba(9, 9, 121, 1);
  position: fixed;
  left: -100%;
  width: 20vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  z-index: 200;
  gap: 20px;
  font-family: sans-serif;
  /* transition: all 0.3s linear; */
}

.navbar-links a {
  color: white;
}

.navbar-links.active {
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 50px;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
  color: white;
}

.navigation {
  display: flex;
  padding: 20% 0;
  position: fixed;
  z-index: 100;
}

.navbar-link {
  margin-bottom: 20px;
  font-size: 25px;
  text-transform: uppercase;
}

.navbar-link a {
  text-decoration: none;
}

.title-head {
  color: white;
  font-size: 60px;
  margin: 25px;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.header {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
}

p {
  margin-top: 2%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.heads {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.pers {
  margin-left: 5%;
}

.detail {
  margin-left: 20px;
}

.skills {
  color: white;
  font-size: 100px;
  display: flex;
  justify-content: space-around;
}

.skills2 {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.skill {
  box-shadow: 0 5px 20px rgb(8, 26, 167);
  background: linear-gradient(
    90deg,
    rgba(8, 26, 167, 1) 9%,
    rgba(3, 189, 205, 1) 48%,
    rgba(0, 0, 1, 1) 100%
  );
  padding: 10px 5%;
  display: flex;
  flex-direction: column;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exp {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

h4 {
  margin-top: 2%;
}

.work {
  gap: 20px;
}
footer {
	width: 100%;
	left: 0;
	bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 18%,
    rgba(9, 9, 121, 1) 59%,
    rgba(0, 212, 255, 1) 91%
  );
	color: white;
	text-align: center;
}

.bullet{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: solid 2px white;
  padding: 25px;
}