* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 18%,
    rgba(9, 9, 121, 1) 59%,
    rgba(0, 212, 255, 1) 91%
  );
  font-family: sans-serif;
  max-height: 100vh;
}

/* #navbar {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 20px 20px; 
  left: 20px;
}  */

.navbar-links {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  background: rgba(9, 9, 121, 1);
  position: fixed;
  left: -100%;
  width: 20vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-family: sans-serif;
  /* transition: all 0.3s linear; */
}

.navbar-links a {
  color: white;
}

.navbar-links.active {
  top: 0;
  left: 0;
}

.navbar-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 50px;
  background: none;
  border: none;
  outline: none;
  padding: 20px;
  color: white;
}

.landing {
  width: 100%;
  display: flex;
}

.navigation {
  display: flex;
  padding: 20% 0;
  position: fixed;
}

.navbar-link {
  margin-bottom: 20px;
  font-size: 25px;
  text-transform: uppercase;
}

.navbar-link a {
  text-decoration: none;
}

.img-area img {
  object-fit: cover;
  width: 100vw;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  background-color: rgba(9, 9, 121, 1) 100%;
  height: 100vh;
  color: white;
}

.name {
  font-size: 60px;
  text-align: center;
}

.names {
  color: black;
  display: flex;
  justify-content: center;
}

.aspire {
  text-align: center;
}

.social-bar {
  bottom: 0;
  height: 29px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: white;
  gap: 20px;
}

.social-bar a {
  text-decoration: none;
}

.social-bar i {
  text-decoration: none;
  display: flex;
  transition: ease-in 0.3s;
}

.social-bar i:hover {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 3px;
  border-radius: 50%;
}

.icon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 30px;
}

/* .social-bar i {
  display: flex;
  justify-content: flex-end;
} */

.header {
  color: white;
  padding: 50px;
  font-family: sans-serif;
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: right;
  gap: 30px;
}

.img-bg {
  width: 80%;
  height: 100vh;
  object-fit: cover;
}

.profile {
  width: 225px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  /* border: 5px solid white; */
  object-fit: cover;
}

@media screen and (max-width: 332px) {
  body {
    height: 100vh;
  }
  .landing {
    flex-direction: column-reverse;
  }
  img {
    width: 100%;
  }
  .header {
    width: 100%;
    max-width: 100%;
  }
  .navbar-links {
    width: 100vw;
  }

  .img-bg {
    display: none;
    
  }
  .profile {
    border-radius: 5%;
  }
  .name {
    font-size: 40px;
  }

  .names {
    color: white;
  }
}
